   
  body {
    margin: 0px;
    padding: 0px;
    }
  .text-primary{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
margin-bottom: ;
        }
        .menu {
            overflow: hidden;
  background-color: #007BFF;
           
    
}

.menu a {
    float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: rgb(143, 188, 214);
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
#movie-form{
    width: 50%;
}

img{  
  max-width: 100%;
position: absolute;
right: 70px;
bottom: 330px;
z-index: -1;
}
@media only screen and (max-width: 800px) {
  img {
    position: absolute;
    right: 50px;
    bottom: 4em;
  }
}
