   @import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
   
  body {
    margin: 0px;
    padding: 0px;
    }
  .text-primary{
font-family: 'PT Serif', serif;
margin-bottom: ;
        }
        .menu {
            overflow: hidden;
  background-color: #5bc0de;
           
    
}

.menu a {
    float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: rgb(143, 188, 214);
}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}
#movie-form{
    width: 50%;

